<% @page_title = "إنشاء دفعة" %>
<div id="content-header">
  <div class='header-icon batches-icon'></div>
  <h1>الدفعات</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>إنشاءدفعة</div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to("<< العودة للجدول", batches_path) %></li>
    </ul>
  </div>
</div>
<div id="page-yield">
<div class="batches new">
  <%= form_for(@batch) do |f| %>
  <%= render(:partial => 'form', :locals =>{:f => f}) %>
  <div><%= f.submit("إنشاء دفعة", :class => 'submit_button') %></div>
  <% end %>
</div>
</div>
